
body {
    font-family: 'Roboto', sans-serif;
}

.movieContainer {
  display: inline;
  margin: 20px;
  text-align: center;
  max-width: 200px;
}

.movieDetailsContainer {
  margin-left: 30px;
}

.descriptionContainer {
  width: 650px;

}

.movieList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.moviePoster {
  height: 300px;
}

.moviePosterDetails {
  height: 300px;
  float: right;
  margin-left: 20px;
}

.editFormContainer {
  margin-left: 20px;
}

.btn {
  margin-top: 10px;
}

.title {
  font-size: 18pt;
  font-weight: 10;
}